# Projeto Final 
## Master em Jornalismo de Dados - Insper

### Tarifas aéreas no Brasil: uma análise dos dados da Anac na Ponte Aérea (Rio-SP)

Trabalho apresentado na conclusão do módulo Jornalismo de Dados e Automação do Master em Jornalismo de Dados do Insper - turma 2022/23. O projeto foi ministrado pelo professor Eduardo Vicente Gonçalves. 


### O Projeto
Um dos temas mais presentes na cobertura de um setorista de companhias aéreas é o preço dos bilhetes. As tarifas dispararam nos últimos anos por causa dos impactos da pandemia e do efeito da invasão da Rússia na Ucrânia sobre o petróleo. 

A Anac faz um monitoramento intensivo das tarifas, que é disponibilizado em um dashboard interativo bastante eficiente (https://www.gov.br/anac/pt-br/assuntos/dados-e-estatisticas/mercado-do-transporte-aereo), na aba Tarifas Aéreas Domésticas e Tarifas Aéreas Internacionais). Entretanto, cruzamentos mais espefícos exigem uma demanda formal via assessoria de imprensa e com prazos nem sempre favoráveis. Além disso, ao trabalhar os dados brutos se abrem novas possibilidades de visualizações. 

#### Os Dados
A Anac recolhe das companhias aéreas comerciais uma série de dados mensalmente para calcular a oferta e demanda por transporte, assim como a evolução das tarifas. No caso das tarifas, os dados representam uma fatia de cerca de 35% do total de passageiros transportados (a depender do mês). Esse recorde ocorre, conforme explica a Anac, porque os dados abrangem todas as passagens vendidas ao “público adulto em geral”, excluindo aquelas adquiridas com descontos restritos a grupos específicos, programas de milhagem, entre outras condições. 

As variáveis são diretas:
- ANO e MES: mês e ano da venda das passagens, independentemente da data do voo;
- EMPRESA: empresa que vendeu a passagem;
- ORIGEM e DESTINO;
- TARIFA: valores em reais;
- ASSENTOS: número de passagens comercializadas naquela data pela respectiva tarifa. 

Os microdados estão disponíveis no seguinte link: https://sas.anac.gov.br/sas/downloads/view/frmDownload.aspx

Para facilitar a replicabilidade/teste do projeto, os dados de janeiro de 2002 a dezembro de 2022 estão disponíveis em um arquivo zip no Google Drive (eles devem ser inseridos na pasta 'anac.nosync'): https://drive.google.com/drive/folders/1JYesuNR4Mc5QU2g4gVR9IpoqdUFrrGeq?usp=sharing

### Ferramentas

#### Spark
A base completa - janeiro de 2002 a dezembro de 2022 - tem mais de 55 milhões de registros distribuídos em 250 arquivos. Desta forma, abrir o arquivo no Pandas não seria viável na memória do computador. 

Para cruzar os dados, resolvi usar o Pyspark - interface Python para Spark e é um projeto Apache de plataforma cruzada de código aberto. 

Mas, por uma questão de capacidade de processamento, parte do tratamento dos arquivos foi feita individualmente via Pandas. Após isso, os dados são facilmente agrupados e agregados no Spark. 

#### Docker
O Spark é bastante simples de ser iniciado via Docker, método escolhido para este projeto. 
Basta clonar o repositório. Na pasta principal, digite `docker-compose up --build -d` - com isso o Docker vai construir os containeres, iniciar o sistema e manter o terminal livre (detached, ou -d). Ele vai iniciar o Spark, assim como um Worker para processar os dados. 

#### Jupyter
O Docker vai criar também um Jupyter, que pode ser acessado pelo seguinte endereço: http://localhost:8888/
Aqui é possível navegar pela pasta Anac e encontrar os notebooks necessários para o projeto.

# Limpeza dos Dados

O primeiro desafio encontrado foi a limpeza dos dados. 
Minha máquina acabou não suportando todos os processamentos necessários no dado. Entre eles, preciso transformar variáveis, ajustar alguns CSVs com formatação e header errados. O principal desafio está na correção monetária: por padrão a Anac atualiza todos os bilhetes comercializados desde 2002 pelo IPCA acumulado no mês da última divulgação.

In [5]:
import numpy as np
import pandas as pd
import os
#Função criada para ajustar os valores individualmente. Ela foi testada com base na Calculadora do BC. 
from monetary_correction import ipca

# Ajustando dados e trazendo tudo a valor presente
Um dos desafios mais legais foi pensar em uma função para ajustar os valores pelo IPCA.
Por se tratar de uma função que seria executada literalmente milhares de vezes, ela teria de ser rápida e bastante eficiente. 
A primeira versão corrigiu todos os dados de uma tabela de cerca de 330 mil entradas em cerca de 20 minutos. A segunda, conseguiu fazer o mesmo trabalho em cerca de 1,3 minuto - um salto bastante significativo para uma base com 250 CSVs, sendo cada um variando entre 200 mil e 500 mil entradas cada.

In [2]:
import glob
files = glob.glob("anac.nosync/*.CSV")

In [ ]:
%%time
import glob
import os

def update_db(date_ipca):
    """
    Função que pega os CSVs individualmente, limpa os dados e corrige a tarifa pelo IPCA do parâmetro month_ipca. 
    A data precisa ser no formato "MM/YYYY"
    """

    if not os.path.exists("anac.nosync/real/"):
        os.makedirs("anac.nosync/real/")
    
    files = glob.glob("anac.nosync/*.CSV")
    
    for file in files:
        print(f"\r>>Processando tabela {file}", end="")
        df = pd.read_csv(file, sep=";", encoding='latin1')
        df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
        df.columns = ["ANO","MES","EMPRESA","ORIGEM","DESTINO","TARIFA","ASSENTOS"]
        df.TARIFA = df.TARIFA.str.replace(",", ".").astype(float).copy()

        if file == files[-1]:    
            df['REAL'] = df['TARIFA'].copy()
        else:
            df['REAL'] = df.apply(lambda row: ipca(row["TARIFA"], [row['MES'], row['ANO']], date_ipca)[0], axis=1)
            # df['REAL'] = df.apply(lambda row: ipca(row["TARIFA"], f"{row['MES']}/{row['ANO']}", date_ipca)[0], axis=1)
        df.to_csv(f"anac.nosync/real/{file.split('/')[1].split('.')[0]}.csv", index=False, sep=";")

update_db([12,2022])

>>Processando tabela anac.nosync/201604.CSV

# Começando com o Spark
Lider com o Spark foi outro desafio.
Ele demnanda uma série de configurações completas e ajustar tudo ao meu computador foi trabalhoso. Mas consegui encontrar uma saída (com este Docker container, inspirado em um projeto do github (link nas referências).

In [4]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
import pyspark.sql.functions as f

conf = SparkConf()
# conf.set("spark.eventLog.enabled", False)
# conf.set("spark.eventLog.dir", "/opt/spark/spark-events")
# conf.set("spark.history.fs.logDirectory", "/opt/spark/spark-events")
# conf.set("spark.executor.memory", "1024m")
# conf.set("spark.sql.autoBroadcastJoinThreshold", -1)
# conf.set("spark.sparkContext.setLogLevel", "ERROR")

spark = SparkSession.\
        builder.\
        appName("pyspark-anac").\
        master("spark://spark-master:7077").\
        config(conf=conf).\
        getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/13 17:57:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark
# sc = spark.sparkContext
# sc.addPyFile("/opt/notebooks/udfs.py")

## Construindo o Schema
Parte importante para definir os tipos de arquivos. Uma boa definição ajuda o programa a rodar significativamente mais rápido.

In [6]:
from pyspark.sql.types import StructType, IntegerType, StringType, FloatType, StructField, DoubleType

schema = StructType(
    [
        StructField('ANO', IntegerType(), True), 
        StructField('MES', IntegerType(), True), 
        StructField('EMPRESA', StringType(), True), 
        StructField('ORIGEM', StringType(), True), 
        StructField('DESTINO', StringType(), True), 
        StructField('TARIFA', FloatType(), True), 
        StructField('ASSENTOS', IntegerType(), True),
        StructField('REAL', FloatType(), True),
    ]
)

Agora vamos ler todos os arquivos editados de uma só vez. Isso é possível com o "*" antes do ".csv", que significa que o Spark irá ler todos os arquivos CSVs no diretório. Importante: todos precisam ter a mesma quantidade de colunas.

In [7]:
sdf = spark.read.csv('anac.nosync/real/*.csv', header=True, sep=";", schema=schema)

In [8]:
#Vamos contar a quantidade de linhas
#sdf.count()

In [9]:
#Uma breve análise exploratória dos dados
#sdf.summary().show()

In [10]:
#Vendo apenas as primeiras três linhas da tabela. 
sdf.limit(3).show()

+----+---+-------+------+-------+------+--------+------+
| ANO|MES|EMPRESA|ORIGEM|DESTINO|TARIFA|ASSENTOS|  REAL|
+----+---+-------+------+-------+------+--------+------+
|2021| 10|    AZU|  SBAC|   SBAR| 565.9|       1|616.34|
|2021| 10|    AZU|  SBAC|   SBBR| 409.9|       1|446.44|
|2021| 10|    AZU|  SBAC|   SBBV| 748.9|       4|815.66|
+----+---+-------+------+-------+------+--------+------+

# Ajustar todos os valores pela inflação de Dezembro de 2022

Nao funciona aqui por questão de processamento. Por isso, exacutamos via pandas e editando e corrigindo os arquivos individualmente. 

```
def valor_real(value, date_start):
    return ipca(value, date_start, "12/2022")[0]

vreal = f.udf(valor_real, DoubleType())    # registering as udf here


sdf = sdf.withColumn(
    'REAL',
    vreal(
        f.col("TARIFA"), 
        f.concat(f.col("MES"), f.lit("/"), f.col("ANO")),
    )
)

sdf = sdf.select("ANO", "MES", "ASSENTOS", "REAL")
````

# Dado final

## Agrupamento por ano e mês
Primeiro vamos agrupar os dados pelas informações que a gente quer. No caso vamos pegar as tarifas médias por mês.

In [11]:
data_by_date = sdf.groupby("ANO", "MES").agg(
    f.sum("ASSENTOS").alias("TOTAL"),
    f.collect_list(f.col('REAL')),
    f.collect_list(f.col('ASSENTOS')),
)

In [12]:
#precisamos de uma média ponderada para calcular a real representatividade das tarifas considerando o número de assentos. 
def get_average(values, weights):
    return float(np.average(values, weights=weights)) 
waverage = f.udf(get_average, DoubleType())    # registering as udf here

data_by_date = data_by_date.withColumn(
    'Weighted_average',
    waverage(f.col("collect_list(REAL)"), f.col("collect_list(ASSENTOS)"))
)

In [13]:
data_by_date = data_by_date.select("ANO", "MES", "TOTAL", "Weighted_average")

In [14]:
data_by_date.cache() #salvando a base no cache para usar depois.

DataFrame[ANO: int, MES: int, TOTAL: bigint, Weighted_average: double]

In [15]:
data_by_date.limit(3).show()

+----+---+-------+-----------------+
| ANO|MES|  TOTAL| Weighted_average|
+----+---+-------+-----------------+
|2022| 10|2450901|648.7533683010134|
|2012| 10|4443441|567.5236231638822|
|2007|  6|1366528|681.8399205044295|
+----+---+-------+-----------------+

In [16]:
# #Jogando para CSV para futura consulta sem precisar rodar de novo
# data_by_date.select("ANO", "MES", "TOTAL", "Weighted_average")\
#     .repartition(1)\
#     .write.format("com.databricks.spark.csv")\
#     .option("header", "true")\
#     .save("tarifa_real.csv")

### Análise - Tarifas mensais. 
- Criar gráficos mostrando a evolução das tarifas

In [17]:
import altair as alt

In [18]:
df_final = data_by_date.select("ANO", "MES", "TOTAL", "Weighted_average").toPandas()
df_final["DATA"] = df_final["MES"].astype(str) + "/" + df_final["ANO"].astype(str)
df_final.DATA = df_final.DATA.apply(pd.to_datetime,format="%m/%Y")

In [19]:
df_final.head(2)

    ANO  MES    TOTAL  Weighted_average       DATA
0  2022   10  2450901        648.753368 2022-10-01
1  2012   10  4443441        567.523623 2012-10-01

In [21]:
#Pegando os dados de oferta e demanda para dar ideia da queda do setor contra a tarifa. 
oferta_e_demanda = pd.read_csv("https://www.gov.br/anac/pt-br/assuntos/regulados/empresas-aereas/links-de-informacoes/DemandaeOferta.csv", sep=";")
oferta_e_demanda_domestica = oferta_e_demanda[oferta_e_demanda["natureza"] == "DOMÉSTICA"]
oferta_group = oferta_e_demanda_domestica.groupby(["ano", "mes"]).agg(passageiros_pg=("passageiros_pg", "sum")).reset_index()
oferta_group.columns = ["ANO", "MES", "PASSAGEIROS_PG"]
oferta_group["DATA"] = pd.to_datetime(dict(year=oferta_group.ANO, month=oferta_group.MES, day=1)) #criando uma nova coluna
oferta_group.head(2)

    ANO  MES  PASSAGEIROS_PG       DATA
0  2000    1       2572833.0 2000-01-01
1  2000    2       2212693.0 2000-02-01

In [22]:
df_final = pd.merge(df_final, oferta_group[["ANO", "MES", "PASSAGEIROS_PG"]], on=["ANO", "MES"])

In [64]:
df_final.to_csv()

      ANO  MES    TOTAL  Weighted_average       DATA  PASSAGEIROS_PG
0    2022   10  2450901        648.753368 2022-10-01       7193213.0
1    2012   10  4443441        567.523623 2012-10-01       7543259.0
2    2007    6  1366528        681.839921 2007-06-01       3932158.0
3    2005    5  1172091        941.175824 2005-05-01       3127072.0
4    2010   12  3244644        606.291723 2010-12-01       6536295.0
..    ...  ...      ...               ...        ...             ...
247  2018    4  3434089        424.457457 2018-04-01       7290017.0
248  2022    8  2080709        694.486447 2022-08-01       7292418.0
249  2016    3  3828383        450.575489 2016-03-01       7177404.0
250  2005    9  1163289        907.197356 2005-09-01       3375859.0
251  2009    8  1684868        685.070402 2009-08-01       4643509.0

[252 rows x 6 columns]

In [23]:
df_finallt.Chart(df_final[df_final["DATA"].dt.year >= 2010]).encode(x=alt.X("yearmonth(DATA):T", axis=alt.Axis(labelAngle=325)))

bar = base.mark_bar().encode(
    alt.X('yearmonth(DATA):T', title="Data"),
    alt.Y("Weighted_average", title="Tarifa média"),
    tooltip = ["DATA", "Weighted_average"],
)
line =  base.mark_line(
    color="red",
    opacity=0.3,
).encode(y=alt.Y('PASSAGEIROS_PG:Q', axis=alt.Axis(grid=True)))

(bar + line).resolve_scale(y='independent').properties(width=600)

alt.LayerChart(...)

## Tarifa por companhia aérea
- Criar gráfico por companhia aérea

Um gráfico interativo com a variação da tarifas por companhia aérea. Ver o que tá pegando com elas.

In [105]:
data = sdf.groupby("ANO", "MES", "EMPRESA").agg(
    f.sum("ASSENTOS").alias("TOTAL"),
    f.collect_list(f.col('REAL')),
    f.collect_list(f.col('ASSENTOS')),
)

#precisamos de uma média ponderada para calcular a real representatividade das tarifas considerando o número de assentos. 
def get_average(values, weights):
    return float(np.average(values, weights=weights)) 

waverage = f.udf(get_average, DoubleType())    # registering as udf here

data = data.withColumn(
    'Weighted_average',
    waverage(
        f.col("collect_list(REAL)"), f.col("collect_list(ASSENTOS)")
    )
)

In [106]:
data.cache()

DataFrame[ANO: int, MES: int, EMPRESA: string, TOTAL: bigint, collect_list(REAL): array<float>, collect_list(ASSENTOS): array<int>, Weighted_average: double]

In [107]:
data.limit(3).show()

+----+---+-------+-------+--------------------+----------------------+------------------+
| ANO|MES|EMPRESA|  TOTAL|  collect_list(REAL)|collect_list(ASSENTOS)|  Weighted_average|
+----+---+-------+-------+--------------------+----------------------+------------------+
|2020| 11|    GLO|1057681|[173.06, 345.13, ...|  [5, 4, 7, 6, 1, 2...|417.92075735587053|
|2019|  5|    PTB|  22403|[230.52, 247.42, ...|  [2, 4, 1, 1, 2, 1...| 590.2505963560524|
|2017|  4|    TAM| 923121|[1007.02, 164.47,...|  [1, 2, 1, 1, 1, 2...| 373.7151826089778|
+----+---+-------+-------+--------------------+----------------------+------------------+

## Tarifa por faixa de preço
Vou criar um gráfico parecido com o que a Anac fez.

In [157]:
#aqui eu vou criar um gráfico parecido com o da anac, mas com possibilidade de trocar os dados.

## Tarifa por Rota - Foco Ponte Aérea Rio SP

### Gráfico apenas com valores das tarifas no passar do tempo

### Gráfico com divisão das tarifas no trecho por valores.

# Referências
- Docker Pyspark: https://github.com/mrn-aglic/spark-standalone-cluster
- Calculo da Variação pelo IPCA: https://estudaradm.com.br/macroeconomia/calcular-inflacao-acumulada-em-12-meses-exemplos-e-exercicios/?unapproved=1687&moderation-hash=42b2b86a1784537b7b5a3c2fa55d719e#comment-1687 (OBS: obrigado especial ao criador desta publicação. Todos os blogs que eu li falando que iriam ensinar a deflacionar um número apenas usavam a calculadora do BC)

# Dezembro 22 - Dezembro 2019

In [58]:
dezembro = pd.read_csv("anac.nosync/202212.CSV", sep=";", encoding="latin1")
# dezembro.columns = ['ANO', 'MES', 'EMPRESA', 'ORIGEM', 'DESTINO', 'TARIFA', 'ASSENTOS']
dezembro.TARIFA = dezembro.TARIFA.str.replace(",", ".").astype(float)

In [67]:
# Aqui com os dados base julho de 2022
wm = lambda x: np.average(x, weights=dezembro.loc[x.index, "ASSENTOS"])

media_dezembro = dezembro.groupby(['ANO', 'MES']).agg(price_weighted_mean=("TARIFA", wm))
media_dezembro

          price_weighted_mean
ANO  MES
2022 12            650.817921