In [1]:
import glob
from udfs import ipca
files = glob.glob("anac.nosync/*.CSV")

In [4]:
files[0].split("/")[1]

'200201.CSV'

In [3]:
import pandas as pd

In [140]:
ipca_data = pd.read_csv("https://api.bcb.gov.br/dados/serie/bcdata.sgs.433/dados?formato=csv", sep=";")

In [141]:
ipca_data["valor"] = ipca_data.valor.str.replace(",", ".").astype(float)

In [142]:
ipca_data["taxa"] = ipca_data["valor"]/100 + 1

In [143]:
ipca_data['acumulated'] = 0

In [144]:
ipca_data.head(5)

         data  valor    taxa  acumulated
0  01/01/1980   6.62  1.0662           0
1  01/02/1980   4.62  1.0462           0
2  01/03/1980   6.04  1.0604           0
3  01/04/1980   5.29  1.0529           0
4  01/05/1980   5.70  1.0570           0

In [145]:
def acumulado(values):
    data = []
    result = 1
    for value in values:
        result = (result * value)
        data.append(result)
    return data

In [146]:
values = acumulado(ipca_data["taxa"])

In [147]:
ipca_data['correction_index'] = values

In [148]:
ipca_data

           data  valor    taxa  acumulated  correction_index
0    01/01/1980   6.62  1.0662           0      1.066200e+00
1    01/02/1980   4.62  1.0462           0      1.115458e+00
2    01/03/1980   6.04  1.0604           0      1.182832e+00
3    01/04/1980   5.29  1.0529           0      1.245404e+00
4    01/05/1980   5.70  1.0570           0      1.316392e+00
..          ...    ...     ...         ...               ...
514  01/11/2022   0.41  1.0041           0      8.448750e+11
515  01/12/2022   0.62  1.0062           0      8.501132e+11
516  01/01/2023   0.53  1.0053           0      8.546188e+11
517  01/02/2023   0.84  1.0084           0      8.617976e+11
518  01/03/2023   0.71  1.0071           0      8.679164e+11

[519 rows x 5 columns]

In [149]:
ipca_data["data"] = pd.to_datetime(ipca_data["data"].str[3:], format="%m/%Y")

In [150]:
ipca_data

          data  valor    taxa  acumulated  correction_index
0   1980-01-01   6.62  1.0662           0      1.066200e+00
1   1980-02-01   4.62  1.0462           0      1.115458e+00
2   1980-03-01   6.04  1.0604           0      1.182832e+00
3   1980-04-01   5.29  1.0529           0      1.245404e+00
4   1980-05-01   5.70  1.0570           0      1.316392e+00
..         ...    ...     ...         ...               ...
514 2022-11-01   0.41  1.0041           0      8.448750e+11
515 2022-12-01   0.62  1.0062           0      8.501132e+11
516 2023-01-01   0.53  1.0053           0      8.546188e+11
517 2023-02-01   0.84  1.0084           0      8.617976e+11
518 2023-03-01   0.71  1.0071           0      8.679164e+11

[519 rows x 5 columns]

In [151]:
ipca_data[ipca_data["data"] == "01/2002"]["correction_index"]

264    2.392538e+11
Name: correction_index, dtype: float64

In [152]:
date_start = "01/2002"

In [153]:
correction_index_start = float(
    ipca_data[ipca_data["data"] == pd.to_datetime(date_start, format="%m/%Y")  - pd.DateOffset(months=1) ]["correction_index"]
)

In [154]:
correction_index_start

238016094496.12836

In [155]:
date_end = "02/2023"

In [156]:
correction_index_end = float(
    ipca_data[ipca_data["data"] == pd.to_datetime(date_end, format="%m/%Y")]["correction_index"] 
)

In [157]:
correction_index_end

861797592163.4397

In [158]:
correction_in_time = (correction_index_end / correction_index_start)

In [159]:
correction_in_time

3.6207534368120555

In [121]:
round(correction_in_time, 5)

3.62075

In [119]:
value = 100 * correction_in_time

In [120]:
round(value, 2)

362.08

In [123]:
del ipca_data["acumulated"]

In [ ]:
#df.A - df.A.shift(1, fill_value=df.A[0])

In [160]:
ipca_data["test"] = 1

In [161]:
ipca_data

          data  valor    taxa  acumulated  correction_index  test
0   1980-01-01   6.62  1.0662           0      1.066200e+00     1
1   1980-02-01   4.62  1.0462           0      1.115458e+00     1
2   1980-03-01   6.04  1.0604           0      1.182832e+00     1
3   1980-04-01   5.29  1.0529           0      1.245404e+00     1
4   1980-05-01   5.70  1.0570           0      1.316392e+00     1
..         ...    ...     ...         ...               ...   ...
514 2022-11-01   0.41  1.0041           0      8.448750e+11     1
515 2022-12-01   0.62  1.0062           0      8.501132e+11     1
516 2023-01-01   0.53  1.0053           0      8.546188e+11     1
517 2023-02-01   0.84  1.0084           0      8.617976e+11     1
518 2023-03-01   0.71  1.0071           0      8.679164e+11     1

[519 rows x 6 columns]

In [ ]:
]=df['PROFIT'].fillna(df.RATIO.shift().add(1).iloc[2:].cumprod()*20000)

In [162]:
ipca_data['test'] = ipca_data.taxa * ipca_data.test.shift(1)

In [164]:
ipca_data.taxa.cumprod()

0      1.066200e+00
1      1.115458e+00
2      1.182832e+00
3      1.245404e+00
4      1.316392e+00
           ...
514    8.448750e+11
515    8.501132e+11
516    8.546188e+11
517    8.617976e+11
518    8.679164e+11
Name: taxa, Length: 519, dtype: float64

In [124]:
ipca_data["test"]

          data  valor    taxa  correction_index
0   1980-01-01   6.62  1.0662      1.066200e+00
1   1980-02-01   4.62  1.0462      1.115458e+00
2   1980-03-01   6.04  1.0604      1.182832e+00
3   1980-04-01   5.29  1.0529      1.245404e+00
4   1980-05-01   5.70  1.0570      1.316392e+00
..         ...    ...     ...               ...
514 2022-11-01   0.41  1.0041      8.448750e+11
515 2022-12-01   0.62  1.0062      8.501132e+11
516 2023-01-01   0.53  1.0053      8.546188e+11
517 2023-02-01   0.84  1.0084      8.617976e+11
518 2023-03-01   0.71  1.0071      8.679164e+11

[519 rows x 4 columns]