In [1]:
import glob
from udfs import ipca
files = glob.glob("anac.nosync/*.CSV")

In [4]:
files[0].split("/")[1]

'200201.CSV'

In [1]:
import pandas as pd

In [3]:
ipca_data = pd.read_csv("https://api.bcb.gov.br/dados/serie/bcdata.sgs.433/dados?formato=csv", sep=";")

In [4]:
ipca_data["valor"] = ipca_data.valor.str.replace(",", ".").astype(float)

In [6]:
ipca_data["taxa"] = ipca_data["valor"]/100 + 1

In [32]:
ipca_data['acumulated'] = 0

In [33]:
ipca_data.head(5)

         data  valor    taxa  acumulated
0  01/01/1980   6.62  1.0662           0
1  01/02/1980   4.62  1.0462           0
2  01/03/1980   6.04  1.0604           0
3  01/04/1980   5.29  1.0529           0
4  01/05/1980   5.70  1.0570           0

In [46]:
def acumulado(values):
    data = []
    result = 1
    for value in values:
        result = (result * value)
        data.append(result)
    return data

In [47]:
values = acumulado(ipca_data["taxa"])

In [48]:
ipca_data['acumulated'] = values

In [49]:
ipca_data

           data  valor    taxa    acumulated
0    01/01/1980   6.62  1.0662  1.066200e+00
1    01/02/1980   4.62  1.0462  1.115458e+00
2    01/03/1980   6.04  1.0604  1.182832e+00
3    01/04/1980   5.29  1.0529  1.245404e+00
4    01/05/1980   5.70  1.0570  1.316392e+00
..          ...    ...     ...           ...
514  01/11/2022   0.41  1.0041  8.448750e+11
515  01/12/2022   0.62  1.0062  8.501132e+11
516  01/01/2023   0.53  1.0053  8.546188e+11
517  01/02/2023   0.84  1.0084  8.617976e+11
518  01/03/2023   0.71  1.0071  8.679164e+11

[519 rows x 4 columns]

In [55]:
float(ipca_data[ipca_data["data"] == "01/01/2002"]["acumulated"])

239253778187.50824

In [56]:
float(ipca_data[ipca_data["data"] == "01/02/2023"]["acumulated"])

861797592163.4397

In [60]:
((float(ipca_data[ipca_data["data"] == "01/02/2023"]["acumulated"]) / float(ipca_data[ipca_data["data"] == "01/12/2001"]["acumulated"])) - 1) * 100

262.07534368120554