In [1]:
import glob
from udfs import ipca
files = glob.glob("anac.nosync/*.CSV")

In [4]:
files[0].split("/")[1]

'200201.CSV'

In [3]:
import pandas as pd

In [169]:
ipca_data = pd.read_csv("https://api.bcb.gov.br/dados/serie/bcdata.sgs.433/dados?formato=csv", sep=";")
ipca_data["valor"] = ipca_data.valor.str.replace(",", ".").astype(float)
ipca_data["taxa"] = ipca_data["valor"]/100 + 1     
# ipca_data["data"] = pd.to_datetime(ipca_data["data"].str[3:], format="%m/%Y") 
ipca_data["data"] = ipca_data["data"].str[3:]
ipca_data['correction_index'] = ipca_data.taxa.cumprod()

ipca_data_dict = ipca_data[["data", "correction_index"]]

In [171]:
ipca_data_dict = { data: value for data,value in ipca_data[["data", "correction_index"]].values }

In [172]:
ipca_data_dict

{'01/1980': 1.0662,
 '02/1980': 1.11545844,
 '03/1980': 1.182832129776,
 '04/1980': 1.2454039494411504,
 '05/1980': 1.3163919745592958,
 '06/1980': 1.3862923884083942,
 '07/1980': 1.4632316159650602,
 '08/1980': 1.535661580955331,
 '09/1980': 1.6006200658297414,
 '10/1980': 1.7523588480704009,
 '11/1980': 1.8692411832366966,
 '12/1980': 1.9927980254486424,
 '01/1981': 2.1291054103893297,
 '02/1981': 2.265368156654247,
 '03/1981': 2.377956954039963,
 '04/1981': 2.531572973270945,
 '05/1981': 2.67232843058481,
 '06/1981': 2.819840959953091,
 '07/1981': 2.996363004046154,
 '08/1981': 3.1611629692686924,
 '09/1981': 3.3274401414522257,
 '10/1981': 3.4964741006379985,
 '11/1981': 3.680738285741621,
 '12/1981': 3.899006066086099,
 '01/1982': 4.1707667888923,
 '02/1982': 4.447705703674749,
 '03/1982': 4.701669699354577,
 '04/1982': 4.978598044646561,
 '05/1982': 5.310172674420022,
 '06/1982': 5.687194934303843,
 '07/1982': 6.048900532125568,
 '08/1982': 6.410019893893465,
 '09/1982': 6.735648904503253,
 '10/1982': 7.034711715863198,
 '11/1982': 7.406847965632361,
 '12/1982': 7.985322791748248,
 '01/1983': 8.675254680955296,
 '02/1983': 9.357129698878383,
 '03/1983': 10.043943018776055,
 '04/1983': 10.70483446941152,
 '05/1983': 11.398507743029386,
 '06/1983': 12.52468030804069,
 '07/1983': 13.787168083091192,
 '08/1983': 15.043179095460799,
 '09/1983': 16.59262654229326,
 '10/1983': 18.064392516594673,
 '11/1983': 19.39754468431936,
 '12/1983': 21.08125156291828,
 '01/1984': 23.119808589052475,
 '02/1984': 25.31619040501246,
 '03/1984': 27.579457827220573,
 '04/1984': 30.210538103937413,
 '05/1984': 32.94459180234375,
 '06/1984': 36.265406656020005,
 '07/1984': 39.79040418298515,
 '08/1984': 43.51080697409426,
 '09/1984': 48.62332679355033,
 '10/1984': 53.69960211079699,
 '11/1984': 59.35417021306391,
 '12/1984': 66.46479980458896,
 '01/1985': 74.28106026160862,
 '02/1985': 82.35541151204548,
 '03/1985': 90.7227213216693,
 '04/1985': 98.16198447004619,
 '05/1985': 105.22964735188953,
 '06/1985': 114.16364441206494,
 '07/1985': 125.93391615094883,
 '08/1985': 141.1089530471382,
 '09/1985': 156.80026862597995,
 '10/1985': 173.45245715405903,
 '11/1985': 197.68376541848107,
 '12/1985': 227.4747088670462,
 '01/1986': 260.1628245312407,
 '02/1986': 293.2555358116145,
 '03/1986': 307.24382486982853,
 '04/1986': 309.6403267038132,
 '05/1986': 313.97529127766654,
 '06/1986': 317.9627774768929,
 '07/1986': 323.3999409717477,
 '08/1986': 334.88063887624475,
 '09/1986': 340.6405858649162,
 '10/1986': 347.11275699634956,
 '11/1986': 366.0304022526506,
 '12/1986': 408.6729441150844,
 '01/1987': 462.658640032687,
 '02/1987': 521.1386921328186,
 '03/1987': 606.449096034961,
 '04/1987': 722.2808733776386,
 '05/1987': 877.210120717142,
 '06/1987': 1050.1082355104907,
 '07/1987': 1146.8232040010068,
 '08/1987': 1202.6734940358558,
 '09/1987': 1296.2414918718455,
 '10/1987': 1441.6797872598665,
 '11/1987': 1659.0850991786544,
 '12/1987': 1893.845640712434,
 '01/1988': 2251.5930822430128,
 '02/1988': 2605.093196155166,
 '03/1988': 3063.589598678475,
 '04/1988': 3654.556032263553,
 '05/1988': 4291.179693083864,
 '06/1988': 5235.239225562314,
 '07/1988': 6382.280139883017,
 '08/1988': 7760.21442208376,
 '09/1988': 9890.393280945751,
 '10/1988': 12424.312039524053,
 '11/1988': 15895.664823367075,
 '12/1988': 20457.720627673425,
 '01/1989': 28127.320090988193,
 '02/1989': 32847.08440225601,
 '03/1989': 35087.25555848987,
 '04/1989': 38010.023946512076,
 '05/1989': 44821.42023772704,
 '06/1989': 57662.75713583584,
 '07/1989': 73658.4059653167,
 '08/1989': 98488.65461622496,
 '09/1989': 135480.99329007906,
 '10/1989': 189361.7843215435,
 '11/1989': 279914.5895841056,
 '12/1989': 424070.60321992,
 '01/1990': 710530.295694976,
 '02/1990': 1248614.8886247813,
 '03/1990': 2277348.695362739,
 '04/1990': 2630793.2128830357,
 '05/1990': 2830470.417740858,
 '06/1990': 3163050.691825409,
 '07/1990': 3571716.841209252,
 '08/1990': 4031753.9703570036,
 '09/1990': 4612729.717485447,
 '10/1990': 5275117.704916357,
 '11/1990': 6161864.991112797,
 '12/1990': 7298112.895473997,
 '01/1991': 8812471.321284851,
 '02/1991': 10638415.379055073,
 '03/1991': 11906514.492238438,
 '04/1991': 12500649.565401137,
 '05/1991': 13429447.828110442,
 '06/1991': 14932203.040075999,
 '07/1991': 16785289.43734943,
 '08/1991': 19408830.176407147,
 '09/1991': 22442430.332979582,
 '10/1991': 26982533.98934135,
 '11/1991': 33784830.808054306,
 '12/1991': 41795214.192643985,
 '01/1992': 52636892.75421584,
 '02/1992': 65438185.07204113,
 '03/1992': 79441956.67745793,
 '04/1992': 95274738.64327529,
 '05/1992': 118960038.66999352,
 '06/1992': 143001862.4851992,
 '07/1992': 174219169.0657182,
 '08/1992': 212791293.09686822,
 '09/1992': 265201788.58662686,
 '10/1992': 332138720.0258915,
 '11/1992': 406836718.15971446,
 '12/1992': 509522305.8232264,
 '01/1993': 664162325.6405756,
 '02/1993': 830070074.5855914,
 '03/1993': 1056347176.9176236,
 '04/1993': 1349483518.5122643,
 '05/1993': 1723155504.78831,
 '06/1993': 2241308365.078155,
 '07/1993': 2929838294.830164,
 '08/1993': 3895512996.806186,
 '09/1993': 5285821585.366314,
 '10/1993': 7078772267.122567,
 '11/1993': 9595983685.311352,
 '12/1993': 13131144074.980055,
 '01/1994': 18555619692.354317,
 '02/1994': 26027967742.4654,
 '03/1994': 37154923952.36936,
 '04/1994': 53012645495.24061,
 '05/1994': 76354113306.79506,
 '06/1994': 112568869248.20795,
 '07/1994': 120268579904.78537,
 '08/1994': 122505575491.01437,
 '09/1994': 124379910796.0269,
 '10/1994': 127638664458.88281,
 '11/1994': 131225310930.17741,
 '12/1994': 133469263747.08344,
 '01/1995': 135738241230.78384,
 '02/1995': 137122771291.33784,
 '03/1995': 139248174246.35358,
 '04/1995': 142631904880.53998,
 '05/1995': 146440176740.8504,
 '06/1995': 149749724735.1936,
 '07/1995': 153283818238.94418,
 '08/1995': 154801328039.50974,
 '09/1995': 156333861187.1009,
 '10/1995': 158538168629.83902,
 '11/1995': 160868679708.69763,
 '12/1995': 163378231112.15332,
 '01/1996': 165567499409.05618,
 '02/1996': 167272844652.96945,
 '03/1996': 167858299609.25485,
 '04/1996': 169973314184.33145,
 '05/1996': 172046988617.38028,
 '06/1996': 174094347781.9271,
 '07/1996': 176026795042.30652,
 '08/1996': 176801312940.49265,
 '09/1996': 177066514909.90338,
 '10/1996': 177597714454.6331,
 '11/1996': 178166027140.88794,
 '12/1996': 179003407468.4501,
 '01/1997': 181115647676.57782,
 '02/1997': 182021225914.9607,
 '03/1997': 182949534167.127,
 '04/1997': 184559490067.79773,
 '05/1997': 185316183977.07568,
 '06/1997': 186316891370.5519,
 '07/1997': 186726788531.5671,
 '08/1997': 186689443173.8608,
 '09/1997': 186801456839.7651,
 '10/1997': 187231100190.49655,
 '11/1997': 187549393060.8204,
 '12/1997': 188355855450.98193,
 '01/1998': 189693182024.68393,
 '02/1998': 190565770661.99747,
 '03/1998': 191213694282.24826,
 '04/1998': 191672607148.52563,
 '05/1998': 192630970184.26825,
 '06/1998': 192669496378.30508,
 '07/1998': 192438292982.65112,
 '08/1998': 191456857688.4396,
 '09/1998': 191035652601.52505,
 '10/1998': 191073859732.04535,
 '11/1998': 190844571100.3669,
 '12/1998': 191474358184.99814,
 '01/1999': 192814678692.2931,
 '02/1999': 194839232818.56216,
 '03/1999': 196982464379.5663,
 '04/1999': 198085566180.0919,
 '05/1999': 198679822878.63214,
 '06/1999': 199057314542.10153,
 '07/1999': 201227039270.6104,
 '08/1999': 202353910690.52585,
 '09/1999': 202981207813.6665,
 '10/1999': 205396684186.64914,
 '11/1999': 207347952686.42233,
 '12/1999': 208592040402.54086,
 '01/2000': 209885311053.03662,
 '02/2000': 210158161957.40558,
 '03/2000': 210620509913.71185,
 '04/2000': 211505116055.34943,
 '05/2000': 211526266566.95496,
 '06/2000': 212012776980.05896,
 '07/2000': 215426182689.4379,
 '08/2000': 218248265682.66956,
 '09/2000': 218750236693.7397,
 '10/2000': 219056487025.11093,
 '11/2000': 219757467783.5913,
 '12/2000': 221054036843.5145,
 '01/2001': 222314044853.52252,
 '02/2001': 223336689459.84872,
 '03/2001': 224185368879.79614,
 '04/2001': 225485644019.29898,
 '05/2001': 226410135159.7781,
 '06/2001': 227587467862.60898,
 '07/2001': 230614381185.1817,
 '08/2001': 232228681853.47794,
 '09/2001': 232878922162.66766,
 '10/2001': 234811817216.6178,
 '11/2001': 236478981118.8558,
 '12/2001': 238016094496.12836,
 '01/2002': 239253778187.50824,
 '02/2002': 240115091788.98328,
 '03/2002': 241555782339.71716,
 '04/2002': 243488228598.4349,
 '05/2002': 243999553878.4916,
 '06/2002': 245024352004.78128,
 '07/2002': 247940141793.63818,
 '08/2002': 249551752715.2968,
 '09/2002': 251348525334.847,
 '10/2002': 254641191016.73352,
 '11/2002': 262331354985.43887,
 '12/2002': 267840313440.13306,
 '01/2003': 273866720492.53604,
 '02/2003': 278166428004.26886,
 '03/2003': 281587875068.7214,
 '04/2003': 284319277456.888,
 '05/2003': 286053625049.375,
 '06/2003': 285624544611.80096,
 '07/2003': 286195793701.0246,
 '08/2003': 287168859399.6081,
 '09/2003': 289408776502.92505,
 '10/2003': 290248061954.7835,
 '11/2003': 291234905365.4298,
 '12/2003': 292749326873.3301,
 '01/2004': 294974221757.5674,
 '02/2004': 296773564510.2885,
 '03/2004': 298168400263.4869,
 '04/2004': 299271623344.4618,
 '05/2004': 300797908623.51855,
 '06/2004': 302933573774.74554,
 '07/2004': 305690269296.09576,
 '08/2004': 307799532154.2388,
 '09/2004': 308815270610.3478,
 '10/2004': 310174057801.0333,
 '11/2004': 312314258799.8604,
 '12/2004': 315000161425.5392,
 '01/2005': 316827162361.8073,
 '02/2005': 318696442619.742,
 '03/2005': 320640490919.7224,
 '04/2005': 323430063190.724,
 '05/2005': 325014870500.3585,
 '06/2005': 324949867526.2585,
 '07/2005': 325762242195.0741,
 '08/2005': 326316038006.8057,
 '09/2005': 327458144139.8296,
 '10/2005': 329914080220.87836,
 '11/2005': 331728607662.0932,
 '12/2005': 332922830649.67676,
 '01/2006': 334887075350.5098,
 '02/2006': 336260112359.4469,
 '03/2006': 337706030842.5925,
 '04/2006': 338415213507.362,
 '05/2006': 338753628720.8693,
 '06/2006': 338042246100.5555,
 '07/2006': 338684526368.14655,
 '08/2006': 338853868631.3306,
 '09/2006': 339565461755.4564,
 '10/2006': 340686027779.24945,
 '11/2006': 341742154465.3652,
 '12/2006': 343382516806.7989,
 '01/2007': 344893399880.7488,
 '02/2007': 346410930840.22406,
 '03/2007': 347692651284.3329,
 '04/2007': 348561882912.5437,
 '05/2007': 349537856184.6988,
 '06/2007': 350516562182.0159,
 '07/2007': 351357801931.25275,
 '08/2007': 353009183600.3296,
 '09/2007': 353644600130.8102,
 '10/2007': 354705533931.2026,
 '11/2007': 356053414960.1412,
 '12/2007': 358688210230.84625,
 '01/2008': 360625126566.09283,
 '02/2008': 362392189686.26666,
 '03/2008': 364131672196.76074,
 '04/2008': 366134396393.84296,
 '05/2008': 369026858125.3543,
 '06/2008': 371757656875.48193,
 '07/2008': 373727972456.922,
 '08/2008': 374774410779.80133,
 '09/2008': 375748824247.8288,
 '10/2008': 377439693956.94403,
 '11/2008': 378798476855.189,
 '12/2008': 379859112590.38354,
 '01/2009': 381682436330.8174,
 '02/2009': 383781689730.6369,
 '03/2009': 384549253110.0982,
 '04/2009': 386395089525.0267,
 '05/2009': 388211146445.79425,
 '06/2009': 389608706572.99915,
 '07/2009': 390543767468.77435,
 '08/2009': 391129583119.97754,
 '09/2009': 392068294119.46545,
 '10/2009': 393166085342.99994,
 '11/2009': 394778066292.90625,
 '12/2009': 396238745138.19,
 '01/2010': 399210535726.72644,
 '02/2010': 402324377905.3949,
 '03/2010': 404416464670.503,
 '04/2010': 406721638519.1249,
 '05/2010': 408470541564.7571,
 '06/2010': 408470541564.7571,
 '07/2010': 408511388618.9136,
 '08/2010': 408674793174.36115,
 '09/2010': 410513829743.64575,
 '10/2010': 413592683466.72314,
 '11/2010': 417025502739.49695,
 '12/2010': 419652763406.75574,
 '01/2011': 423135881343.0318,
 '02/2011': 426520968393.77606,
 '03/2011': 429890484044.0869,
 '04/2011': 433200640771.2264,
 '05/2011': 435236683782.85114,
 '06/2011': 435889538808.52545,
 '07/2011': 436586962070.61914,
 '08/2011': 438202333830.28046,
 '09/2011': 440524806199.581,
 '10/2011': 442419062866.2392,
 '11/2011': 444719641993.1437,
 '12/2011': 446943240203.1094,
 '01/2012': 449446122348.2468,
 '02/2012': 451468629898.8139,
 '03/2012': 452416714021.6014,
 '04/2012': 455312180991.3396,
 '05/2012': 456951304842.90845,
 '06/2012': 457316865886.7827,
 '07/2012': 459283328410.0959,
 '08/2012': 461166390056.5773,
 '09/2012': 463795038479.8998,
 '10/2012': 466531429206.9312,
 '11/2012': 469330617782.1728,
 '12/2012': 473038329662.652,
 '01/2013': 477106459297.75073,
 '02/2013': 479969098053.53723,
 '03/2013': 482224952814.3888,
 '04/2013': 484877190054.868,
 '05/2013': 486671235658.071,
 '06/2013': 487936580870.7819,
 '07/2013': 488082961845.04315,
 '08/2013': 489254360953.47125,
 '09/2013': 490966751216.8084,
 '10/2013': 493765261698.74426,
 '11/2013': 496431594111.91754,
 '12/2013': 500998764777.74725,
 '01/2014': 503754257984.0249,
 '02/2014': 507230162364.1146,
 '03/2014': 511896679857.8645,
 '04/2014': 515326387612.9122,
 '05/2014': 517696888995.9315,
 '06/2014': 519767676551.9152,
 '07/2014': 519819653319.57043,
 '08/2014': 521119202452.8693,
 '09/2014': 524089581906.8507,
 '10/2014': 526290758150.8595,
 '11/2014': 528974841017.42896,
 '12/2014': 533100844777.3649,
 '01/2015': 539711295252.60425,
 '02/2015': 546295773054.68604,
 '03/2015': 553506877259.0079,
 '04/2015': 557436776087.547,
 '05/2015': 561561808230.5948,
 '06/2015': 565998146515.6166,
 '07/2015': 569507335024.0134,
 '08/2015': 570760251161.0663,
 '09/2015': 573842356517.336,
 '10/2015': 578547863840.7782,
 '11/2015': 584391197265.5701,
 '12/2015': 590001352759.3196,
 '01/2016': 597494369939.3629,
 '02/2016': 602871819268.8171,
 '03/2016': 605464168091.673,
 '04/2016': 609157499517.0322,
 '05/2016': 613908928013.2651,
 '06/2016': 616057609261.3116,
 '07/2016': 619261108829.4706,
 '08/2016': 621985857708.3202,
 '09/2016': 622483446394.4868,
 '10/2016': 624101903355.1124,
 '11/2016': 625225286781.1516,
 '12/2016': 627100962641.495,
 '01/2017': 629483946299.5327,
 '02/2017': 631561243322.3212,
 '03/2017': 633140146430.627,
 '04/2017': 634026542635.6299,
 '05/2017': 635992024917.8004,
 '06/2017': 634529243260.4895,
 '07/2017': 636052113444.3147,
 '08/2017': 637260612459.8589,
 '09/2017': 638280229439.7947,
 '10/2017': 640961006403.4418,
 '11/2017': 642755697221.3713,
 '12/2017': 645583822289.1454,
 '01/2018': 647456015373.7838,
 '02/2018': 649527874622.98,
 '03/2018': 650112449710.1406,
 '04/2018': 651542697099.5029,
 '05/2018': 654148867887.901,
 '06/2018': 662391143623.2886,
 '07/2018': 664577034397.2455,
 '08/2018': 663978915066.288,
 '09/2018': 667166013858.6061,
 '10/2018': 670168260920.9697,
 '11/2018': 668760907573.0356,
 '12/2018': 669764048934.3953,
 '01/2019': 671907293890.9854,
 '02/2019': 674796495254.7166,
 '03/2019': 679857468969.127,
 '04/2019': 683732656542.251,
 '05/2019': 684621508995.756,
 '06/2019': 684689971146.6555,
 '07/2019': 685990882091.8342,
 '08/2019': 686745472062.1354,
 '09/2019': 686470773873.3105,
 '10/2019': 687157244647.1838,
 '11/2019': 690661746594.8845,
 '12/2019': 698604356680.7257,
 '01/2020': 700071425829.7552,
 '02/2020': 701821604394.3296,
 '03/2020': 702312879517.4055,
 '04/2020': 700135709590.9016,
 '05/2020': 697475193894.4562,
 '06/2020': 699288629398.5817,
 '07/2020': 701806068464.4166,
 '08/2020': 703490403028.7312,
 '09/2020': 707992741608.1151,
 '10/2020': 714081479185.9448,
 '11/2020': 720436804350.6997,
 '12/2020': 730162701209.4342,
 '01/2021': 731988107962.4578,
 '02/2021': 738283205690.9348,
 '03/2021': 745149239503.8606,
 '04/2021': 747459202146.3226,
 '05/2021': 753663113524.1371,
 '06/2021': 757657528025.8151,
 '07/2021': 764931040294.8629,
 '08/2021': 771585940345.4282,
 '09/2021': 780536337253.4352,
 '10/2021': 790293041469.103,
 '11/2021': 797800825363.0596,
 '12/2021': 803624771388.21,
 '01/2022': 807964345153.7063,
 '02/2022': 816124785039.7588,
 '03/2022': 829346006557.4028,
 '04/2022': 838137074226.9113,
 '05/2022': 842076318475.7777,
 '06/2022': 847718229809.5653,
 '07/2022': 841953745846.8602,
 '08/2022': 838922712361.8115,
 '09/2022': 836489836495.9623,
 '10/2022': 841425126531.2885,
 '11/2022': 844874969550.0668,
 '12/2022': 850113194361.2772,
 '01/2023': 854618794291.3921,
 '02/2023': 861797592163.4397,
 '03/2023': 867916355067.8002}

In [177]:
str(pd.to_datetime(date_start, format="%m/%Y") - pd.DateOffset(months=1))

'2001-12-01 00:00:00'

In [179]:
date_start_valid = (pd.to_datetime(date_start, format="%m/%Y") - pd.DateOffset(months=1)).strftime('%m/%Y')

In [180]:
date_start_valid

'12/2001'

In [192]:
ipca_data_dict[date_end]

861797592163.4397

In [191]:
date_end

'02/2023'

In [194]:
correction_index_start = ipca_data_dict[date_start_valid]

In [195]:
correction_index_end = ipca_data_dict[date_end]

In [186]:
correction_index_end

238016094496.12836

In [196]:
correction_index_in_time = (correction_index_end / correction_index_start)

In [197]:
correction_index_in_time

3.6207534368120555

In [198]:
round(100 * correction_index_in_time, 2)

362.08

In [174]:
correction_index_end

861797592163.4397

In [202]:
date_end

'02/2023'

In [208]:
("0" + date_end)[-7:]

'02/2023'

In [140]:
ipca_data = pd.read_csv("https://api.bcb.gov.br/dados/serie/bcdata.sgs.433/dados?formato=csv", sep=";")

In [141]:
ipca_data["valor"] = ipca_data.valor.str.replace(",", ".").astype(float)

In [142]:
ipca_data["taxa"] = ipca_data["valor"]/100 + 1

In [143]:
ipca_data['acumulated'] = 0

In [144]:
ipca_data.head(5)

         data  valor    taxa  acumulated
0  01/01/1980   6.62  1.0662           0
1  01/02/1980   4.62  1.0462           0
2  01/03/1980   6.04  1.0604           0
3  01/04/1980   5.29  1.0529           0
4  01/05/1980   5.70  1.0570           0

In [145]:
def acumulado(values):
    data = []
    result = 1
    for value in values:
        result = (result * value)
        data.append(result)
    return data

In [146]:
values = acumulado(ipca_data["taxa"])

In [147]:
ipca_data['correction_index'] = values

In [148]:
ipca_data

           data  valor    taxa  acumulated  correction_index
0    01/01/1980   6.62  1.0662           0      1.066200e+00
1    01/02/1980   4.62  1.0462           0      1.115458e+00
2    01/03/1980   6.04  1.0604           0      1.182832e+00
3    01/04/1980   5.29  1.0529           0      1.245404e+00
4    01/05/1980   5.70  1.0570           0      1.316392e+00
..          ...    ...     ...         ...               ...
514  01/11/2022   0.41  1.0041           0      8.448750e+11
515  01/12/2022   0.62  1.0062           0      8.501132e+11
516  01/01/2023   0.53  1.0053           0      8.546188e+11
517  01/02/2023   0.84  1.0084           0      8.617976e+11
518  01/03/2023   0.71  1.0071           0      8.679164e+11

[519 rows x 5 columns]

In [149]:
ipca_data["data"] = pd.to_datetime(ipca_data["data"].str[3:], format="%m/%Y")

In [150]:
ipca_data

          data  valor    taxa  acumulated  correction_index
0   1980-01-01   6.62  1.0662           0      1.066200e+00
1   1980-02-01   4.62  1.0462           0      1.115458e+00
2   1980-03-01   6.04  1.0604           0      1.182832e+00
3   1980-04-01   5.29  1.0529           0      1.245404e+00
4   1980-05-01   5.70  1.0570           0      1.316392e+00
..         ...    ...     ...         ...               ...
514 2022-11-01   0.41  1.0041           0      8.448750e+11
515 2022-12-01   0.62  1.0062           0      8.501132e+11
516 2023-01-01   0.53  1.0053           0      8.546188e+11
517 2023-02-01   0.84  1.0084           0      8.617976e+11
518 2023-03-01   0.71  1.0071           0      8.679164e+11

[519 rows x 5 columns]

In [151]:
ipca_data[ipca_data["data"] == "01/2002"]["correction_index"]

264    2.392538e+11
Name: correction_index, dtype: float64

In [152]:
date_start = "01/2002"

In [153]:
correction_index_start = float(
    ipca_data[ipca_data["data"] == pd.to_datetime(date_start, format="%m/%Y")  - pd.DateOffset(months=1) ]["correction_index"]
)

In [154]:
correction_index_start

238016094496.12836

In [155]:
date_end = "02/2023"

In [156]:
correction_index_end = float(
    ipca_data[ipca_data["data"] == pd.to_datetime(date_end, format="%m/%Y")]["correction_index"] 
)

In [157]:
correction_index_end

861797592163.4397

In [158]:
correction_in_time = (correction_index_end / correction_index_start)

In [159]:
correction_in_time

3.6207534368120555

In [121]:
round(correction_in_time, 5)

3.62075

In [119]:
value = 100 * correction_in_time

In [120]:
round(value, 2)

362.08

In [123]:
del ipca_data["acumulated"]

In [ ]:
#df.A - df.A.shift(1, fill_value=df.A[0])

In [160]:
ipca_data["test"] = 1

In [161]:
ipca_data

          data  valor    taxa  acumulated  correction_index  test
0   1980-01-01   6.62  1.0662           0      1.066200e+00     1
1   1980-02-01   4.62  1.0462           0      1.115458e+00     1
2   1980-03-01   6.04  1.0604           0      1.182832e+00     1
3   1980-04-01   5.29  1.0529           0      1.245404e+00     1
4   1980-05-01   5.70  1.0570           0      1.316392e+00     1
..         ...    ...     ...         ...               ...   ...
514 2022-11-01   0.41  1.0041           0      8.448750e+11     1
515 2022-12-01   0.62  1.0062           0      8.501132e+11     1
516 2023-01-01   0.53  1.0053           0      8.546188e+11     1
517 2023-02-01   0.84  1.0084           0      8.617976e+11     1
518 2023-03-01   0.71  1.0071           0      8.679164e+11     1

[519 rows x 6 columns]

In [ ]:
]=df['PROFIT'].fillna(df.RATIO.shift().add(1).iloc[2:].cumprod()*20000)

In [162]:
ipca_data['test'] = ipca_data.taxa * ipca_data.test.shift(1)

In [164]:
ipca_data.taxa.cumprod()

0      1.066200e+00
1      1.115458e+00
2      1.182832e+00
3      1.245404e+00
4      1.316392e+00
           ...
514    8.448750e+11
515    8.501132e+11
516    8.546188e+11
517    8.617976e+11
518    8.679164e+11
Name: taxa, Length: 519, dtype: float64

In [124]:
ipca_data["test"]

          data  valor    taxa  correction_index
0   1980-01-01   6.62  1.0662      1.066200e+00
1   1980-02-01   4.62  1.0462      1.115458e+00
2   1980-03-01   6.04  1.0604      1.182832e+00
3   1980-04-01   5.29  1.0529      1.245404e+00
4   1980-05-01   5.70  1.0570      1.316392e+00
..         ...    ...     ...               ...
514 2022-11-01   0.41  1.0041      8.448750e+11
515 2022-12-01   0.62  1.0062      8.501132e+11
516 2023-01-01   0.53  1.0053      8.546188e+11
517 2023-02-01   0.84  1.0084      8.617976e+11
518 2023-03-01   0.71  1.0071      8.679164e+11

[519 rows x 4 columns]