In [1]:
import glob
from udfs import ipca
files = glob.glob("anac.nosync/*.CSV")

In [4]:
files[0].split("/")[1]

'200201.CSV'

In [3]:
import pandas as pd

In [60]:
ipca_data = pd.read_csv("https://api.bcb.gov.br/dados/serie/bcdata.sgs.433/dados?formato=csv", sep=";")

In [61]:
ipca_data["valor"] = ipca_data.valor.str.replace(",", ".").astype(float)

In [62]:
ipca_data["taxa"] = ipca_data["valor"]/100 + 1

In [63]:
ipca_data['acumulated'] = 0

In [64]:
ipca_data.head(5)

         data  valor    taxa  acumulated
0  01/01/1980   6.62  1.0662           0
1  01/02/1980   4.62  1.0462           0
2  01/03/1980   6.04  1.0604           0
3  01/04/1980   5.29  1.0529           0
4  01/05/1980   5.70  1.0570           0

In [65]:
def acumulado(values):
    data = []
    result = 1
    for value in values:
        result = (result * value)
        data.append(result)
    return data

In [67]:
values = acumulado(ipca_data["taxa"])

In [68]:
ipca_data['correction_index'] = values

In [69]:
ipca_data

           data  valor    taxa  acumulated  correction_index
0    01/01/1980   6.62  1.0662           0      1.066200e+00
1    01/02/1980   4.62  1.0462           0      1.115458e+00
2    01/03/1980   6.04  1.0604           0      1.182832e+00
3    01/04/1980   5.29  1.0529           0      1.245404e+00
4    01/05/1980   5.70  1.0570           0      1.316392e+00
..          ...    ...     ...         ...               ...
514  01/11/2022   0.41  1.0041           0      8.448750e+11
515  01/12/2022   0.62  1.0062           0      8.501132e+11
516  01/01/2023   0.53  1.0053           0      8.546188e+11
517  01/02/2023   0.84  1.0084           0      8.617976e+11
518  01/03/2023   0.71  1.0071           0      8.679164e+11

[519 rows x 5 columns]

In [72]:
ipca_data["data"] = pd.to_datetime(ipca_data["data"].str[3:], format="%m/%Y")

In [75]:
ipca_data

          data  valor    taxa  acumulated  correction_index
0   1980-01-01   6.62  1.0662           0      1.066200e+00
1   1980-02-01   4.62  1.0462           0      1.115458e+00
2   1980-03-01   6.04  1.0604           0      1.182832e+00
3   1980-04-01   5.29  1.0529           0      1.245404e+00
4   1980-05-01   5.70  1.0570           0      1.316392e+00
..         ...    ...     ...         ...               ...
514 2022-11-01   0.41  1.0041           0      8.448750e+11
515 2022-12-01   0.62  1.0062           0      8.501132e+11
516 2023-01-01   0.53  1.0053           0      8.546188e+11
517 2023-02-01   0.84  1.0084           0      8.617976e+11
518 2023-03-01   0.71  1.0071           0      8.679164e+11

[519 rows x 5 columns]

In [58]:
ipca_data[ipca_data["data"] == "01/2002"]["correction_index"]

264    2.392538e+11
Name: correction_index, dtype: float64

In [105]:
date_start = "01/2002"

In [109]:
correction_index_start = float(
    ipca_data[ipca_data["data"] == pd.to_datetime(date_start, format="%m/%Y")  - pd.DateOffset(months=1) ]["correction_index"]
)

In [110]:
correction_index_start

238016094496.12836

In [111]:
date_end = "02/2023"

In [112]:
correction_index_end = float(
    ipca_data[ipca_data["data"] == pd.to_datetime(date_end, format="%m/%Y")]["correction_index"] 
)

In [113]:
correction_index_end

861797592163.4397

In [114]:
correction_in_time = (correction_index_end / correction_index_start)

In [115]:
correction_in_time

3.6207534368120555

In [117]:
100 * correction_in_time

362.07534368120554

In [ ]:
(valor * ())